body{
    background-image: url('..//Imgs/background.webp');
    height: 100vh;
    width:100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}